<nav role="navigation" class="navigation paging-navigation">
    <div class="nav-links">
        {{#if prev}}
            <div class="nav-next"><a href="{{pageUrl prev}}">Newer posts <span class="meta-nav">→</span></a></div>
        {{/if}}
        {{#if next}}
            <div class="nav-previous"><a href="{{pageUrl next}}"><span class="meta-nav">←</span> Older posts</a></div>
        {{/if}}

    </div><!-- .nav-links -->
</nav>
